<div class="container mt-4">
  <h2>Lista de Productos</h2>

  <table class="table table-hover table-bordered align-middle" *ngIf="products.length > 0; else sinProductos">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Categoría</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ getCategoryName(product.categoryId) }}</td>
        <td class="text-center">
          <button class="btn btn-sm btn-outline-primary me-2" (click)="onEdit.emit(product)">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="onDelete.emit(product.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #sinProductos>
    <p>No hay productos registrados.</p>
  </ng-template>
</div>
