<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="mb-3">
    <label>Nombre:</label>
    <input
      type="text"
      [(ngModel)]="category.name"
      name="name"
      class="form-control"
      required
      pattern="^[a-zA-Z0-9 ]+$"
      #name="ngModel"
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
      <div *ngIf="name.errors?.['required']">El nombre es obligatorio.</div>
      <div *ngIf="name.errors?.['pattern']">Solo se permiten letras, números y espacios.</div>
    </div>
  </div>

  <div class="mb-3">
    <label>Descripción:</label>
    <input
      type="text"
      [(ngModel)]="category.description"
      name="description"
      class="form-control"
      required
      pattern="^[a-zA-Z0-9 .,]+$"
      #description="ngModel"
    />
    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="text-danger">
      <div *ngIf="description.errors?.['required']">La descripción es obligatoria.</div>
      <div *ngIf="description.errors?.['pattern']">
        Solo se permiten letras, números, espacios, punto y coma.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    {{ editing ? 'Actualizar' : 'Guardar' }}
  </button>
</form>
